Description: CacheCockpit
Maintainer: dream-alpha
Package: enigma2-plugin-systemplugins-cachecockpit
Version: 7.18.6
Architecture: all
Depends: python-requests, enigma2-plugin-systemplugins-mountcockpit
